html {
    scroll-behavior: smooth;
}

body{
    background-color: #AFEEEE;
}
.col{
    background-color: #4169E1;
}
.container{
    margin-top:20px;
    border-radius: 15px;

}

.col h1 {
    margin-top: 20px;
}


.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

