.col{
    background-color: rgb(255, 255, 255);
}
.container{
    margin-top:20px;
    border-radius: 15px;
}

li {
    float: left;
  }

  li a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
